@media(min-width: 768px) {
  /* .message-section .container-section .box .imgBox,
  .message-section .container-section .box {
    margin-bottom: 90px;
    max-width: 100%;
  } */

  .header .nav {
    display: block!important;
  }
}

@media(max-width: 991px) {
  /* .message-section .container-section .box {
    margin-bottom: 90px;
    max-width: 100%;
  } */

  /* .message-section .container-section {
    display: block!important;
    flex: 0 0 50%;
    max-width: 50%;
  } */
  .message-section .container {
    display: block;
    flex: 0 0 50%;
    max-width: 90%;
  }

  .message-section .container .box {
    margin-top: 80px;
  }

  .gallery-section .gallery-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .people-section .people-item,
  .event-section .event-item {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    /* margin: 0 auto;
    margin: 0 15px; */
    
  }
}

@media(max-width: 767px) {
  .message-section .container {
    display: block;
    flex: 0 0 50%;
    max-width: 90%;
  }

  .message-section .container .box {
    margin-top: 80px;
  }

  .header .logo {
    padding: 8px 15px;
    margin: 0 auto;
    margin-left: 10px;
  }

  .header .hamburger-btn {
    display: flex;
    margin-right: 15px;
  }

  .header .nav {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #fff;
    border-top: 1px solid #121f38;
    display: none;
  }

  .header .nav ul li {
    display: block;
    margin-left: 0;
  }

  .header .nav ul li a {
    padding: 10px 0;
  }

  .home-section .home-content h1 {
    font-size: 60px;
  }

  .couple-section .couple {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }

  .couple-section .couple:nth-child(2) {
    margin-top: 50px;
  }

  .couple-section .couple:nth-child(2):before {
    content: none;
  }

  .couple-section .couple i.fa-heart {
    display: none;
  }

  .story-section .story-img {
    margin-top: 20px;
  }

  .story-section .story-content::before {
    left: 20px;
  }

  .story-section .story-item i {
    margin-left: 0px;
    left: 5px;
  }

  .event-section .event-item {
    flex: 0 0 80%;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .story-section .story-text, .story-section .story-img {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .story-section .story-item:nth-child(odd) .story-text {
    padding: 0 15px 0 60px;
    text-align: left;
    }

  .story-section .story-item:nth-child(even) .story-img {
    padding: 0 15px 0 60px;
  }
}

@media(max-width: 574px) {
  /* .message-section .container-section .box .imgBox,
  .message-section .container-section .box {
    margin-bottom: 90px;
    max-width: 100%;
  } */

  .rsvp-section .rsvp-form {
    padding: 40px 0px;
  }

  .gallery-section .gallery-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home-section .home-content h1 {
    font-size: 40px;
  }

  .rsvp-section .form .input-group.w50,
  .people-section .people-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer .footer-content .couple-name {
    width: 290px;
    height: 290px;
  }
}
