/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* Default style */
body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  background-color: #f3f2f1;
}

*:not(i) {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::before,
::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1140px;
  margin: auto;
}

header,
section,
footer {
  display: block;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-between {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: #121f38;
  font-weight: 600;
  font-family: "Great Vibes", cursive;
  letter-spacing: 1px;
  margin: 0;
  text-transform: capitalize;
}

.btn-1 {
  padding: 10px 35px;
  background-color: #121f38;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid transparent;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease;
  font-weight: 500;
}

.btn-1:focus {
  outline: none;
}

.btn-1:hover {
  background-color: transparent;
  border: 2px solid #121f38;
  color: #121f38;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease;
}

.header.fixed {
  background-color: #fff;
  box-shadow: 0 0 8px #cbcbce;
}

.header .logo {
  padding: 0 15px;
}

.header .logo a {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  font-family: "Great Vibes", cursive;
  letter-spacing: 3px;
  transition: all 0.5s ease;
}

.header.fixed .logo a {
  color: #121f38;
}

.header .hamburger-btn {
  display: inline-block;
  height: 34px;
  width: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  display: none;
}

.header.fixed .hamburger-btn {
  border-color: #121f38;
  background-color: #121f38;
}

.header .hamburger-btn span {
  display: block;
  height: 1px;
  width: 16px;
  background-color: #fff;
  position: relative;
  transition: all 0.5s ease;
}

.header.fixed .hamburger-btn span:before,
.header.fixed .hamburger-btn span:after,
.header.fixed .hamburger-btn span {
  background-color: #fff;
}

.header .hamburger-btn span:before,
.header .hamburger-btn span:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  background-color: #fff;
}

.header .hamburger-btn span:before {
  top: -6px;
}

.header .hamburger-btn span:after {
  top: 6px;
}

.header .nav {
  padding: 0 15px;
}

.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .nav ul li {
  display: inline-block;
  margin-left: 30px;
}
.header .nav ul li a {
  display: block;
  padding: 25px 0;
  color: #cbcbce;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.5s ease;
}

.header.fixed .nav ul li a {
  color: #121f38;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
  color: #fb0054;
}

/* Home section */
.home-section {
  min-height: 100vh;
  position: relative;
}

.home-section .slide {
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}

.home-section .slide.active {
  opacity: 1;
  visibility: visible;
}

.home-section .slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.home-section .row {
  min-height: 100vh;
}

.home-section .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
}

.home-section .home-content p {
  font-size: 24px;
  color: #fff;
  margin: 0 0 15px;
}

.home-section .slide.active .home-content p {
  opacity: 0;
  animation: fadeInTop 1s ease forwards;
}

@keyframes fadeInTop {
  0% {
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.home-section .home-content h1 {
  font-size: 80px;
  color: #fff;
  margin: 0;
  font-weight: normal;
  font-family: "Great Vibes", cursive;
}

.home-section .slide.active .home-content h1 {
  opacity: 0;
  animation: fadeInTop 1s ease forwards;
  animation-delay: 0.5s;
}

.home-section .home-content span {
  font-size: 20px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  padding: 7px 30px;
  margin: 15px 0 0;
}

.home-section .slide.active .home-content span {
  opacity: 0;
  animation: fadeInTop 1s ease forwards;
  animation-delay: 1s;
}

/* Couple section */
.couple-section {
  padding: 80px 0 80px;
  background-color: #fff;
}

.couple-section .couple {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 60px;
  text-align: center;
  position: relative;
}

.couple-section .couple:nth-child(2):before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #818491;
}

.couple-section .couple i.fa-heart {
  position: absolute;
  left: -15px;
  width: 31px;
  background-color: #f3f2f1;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  top: 30%;
  color: #121f38;
}

.couple-section img {
  max-width: 280px;
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

.couple-section .couple img {
  border: 1px solid #818491;
  padding: 10px;
}

.couple-section .couple h3 {
  color: #121f38;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  letter-spacing: 2px;
}

.couple-section h3 {
  font-size: 40px;
  margin: 15px 0;
}
.couple-section p {
  color: #818491;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.couple-section .social-icons {
  padding-top: 30px;
}

.couple-section .social-icons a {
  display: inline-block;
  margin: 0 5px;
}

.couple-section .social-icons a i {
  height: 32px;
  width: 32px;
  line-height: 30px;
  border: 1px solid transparent;
  border-color: #121f38;
  color: #121f38;
  text-align: center;
  border-radius: 4px;
  display: block;
  transition: all 0.5s ease;
}

.couple-section .social-icons a:hover i {
  color: #fff;
  background-color: #121f38;
}

/* Story section */
.story-section {
  padding: 80px 0 80px;
}

.story-section .story-content {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.story-section .story-content::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  height: 100%;
  top: 0;
  background-color: #818491;
}

.story-section .story-item i {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 5px;
  padding: 5px;
  left: 50%;
  width: 31px;
  text-align: center;
  font-size: 20px;
  background-color: #f3f2f1;
}

.story-section .story-item {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.story-section img {
  width: 80%;
  border: 1px solid #818491;
  padding: 10px;
  border-radius: 5px;
}

.story-section .story-item:last-child {
  margin-bottom: 0;
}

.story-section .story-item:nth-child(even) {
  flex-direction: row-reverse;
}

.story-section .story-item:nth-child(odd) .story-text {
  padding: 0 60px 0 15px;
  text-align: right;
}

.story-section .story-item:nth-child(odd) .story-img {
  padding: 0 15px 0 60px;
}

.story-section .story-item:nth-child(even) .story-text {
  padding: 0 15px 0 60px;
}

.story-section .story-item:nth-child(even) .story-img {
  padding: 0 60px 0 15px;
}

.story-section .story-text,
.story-section .story-img {
  flex: 0 0 50%;
  max-width: 50%;
}

.story-section .story-img img {
  width: 100%;
}

.story-section .story-text h3 {
  font-size: 25px;
  margin: 0 0 8px;
  color: #121f38;
  font-weight: 600;
  text-transform: capitalize;
}
.story-section .story-text span.date {
  font-size: 15px;
  font-weight: 700;
  color: #121f38;
  margin: 0 0 15px;
  display: block;
  text-transform: capitalize;
}
.story-section .story-text p {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  color: #818491;
}

/* Event section */
.event-section {
  background-color: #fff;
  padding: 80px 0 130px;
}

/* .event-section .section-title h2 {
  color: #fff;
} */

.event-section .event-item {
  flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #121f38;
  padding: 10px;
  margin: 10px;
  margin-right: 30px;
  border-radius: 5px;
}

.event-section .event-item-inner {
  background-color: #f1f1f1;
  padding: 60px 45px 100px;
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  /* box-shadow: 0 0 5px #818491; */
  position: relative;
}

/* .event-section .event-item-inner::before {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
} */

.event-section .event-item-inner h3 {
  color: #121f38;
  font-weight: 500;
  font-size: 24px;
  margin: 5px 0 15px;
  text-transform: capitalize;
  border-bottom: 1px solid #818491;
  padding-bottom: 15px;
  display: inline-block;
}
.event-section .event-item-inner span {
  display: block;
  font-weight: 500;
  font-size: 16px;
}

.event-section .event-item-inner span.time {
  margin-bottom: 15px;
}
.event-section .event-item-inner p {
  font-size: 14px;
  line-height: 26px;
  color: #818491;
  margin: 0;
}

.event-section .event-item-inner img {
  position: absolute;
  width: 40px;
  left: 50%;
  bottom: 10px;
  margin-left: -15px;
}

/* People section */
.people-section {
  padding: 80px 0 80px;
}

.people-section .people-filter {
  /* background-color: red; */
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.people-section .filter-btn {
  background-color: #cbcbce;
  color: #121f38;
  padding: 7px 15px;
  display: inline-block;
  margin: 0 3px;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;
}

.people-section .filter-btn.active {
  background-color: #121f38;
  color: #fff;
}

.people-section .people-item {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 15px;
  margin-top: 25px;
  display: none;
}

.people-section .people-item-inner {
  background-color: #fff;
  padding: 15px;
  text-align: center;
}

.people-section .people-item-inner img {
  width: 100%;
  box-shadow: 0 0 8px #cbcbce;
  margin-top: -40px;
  transition: all 0.5s ease;
}

.people-section .people-item-inner:hover img {
  transform: scale(0.95);
}

.people-section .people-item-inner h4 {
  font-size: 16px;
  font-weight: 600;
  color: #121f38;
  margin: 20px 0 5px;
  text-transform: capitalize;
}
.people-section .people-item-inner p {
  color: #818491;
  font-size: 14px;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.people-section .people-item-inner .social-icons {
  text-align: center;
  padding: 10px;
}

.people-section .people-item-inner .social-icons a {
  display: inline-block;
  margin: 0 3px;
  text-decoration: none;
}

.people-section .people-item-inner .social-icons a i {
  height: 32px;
  width: 32px;
  line-height: 30px;
  border: 1px solid transparent;
  border-color: #121f38;
  color: #121f38;
  text-align: center;
  border-radius: 4px;
  display: block;
  transition: all 0.5s ease;
}

.people-section .people-item-inner .social-icons a:hover i {
  color: #fff;
  background-color: #121f38;
}

/* Gallery section */
.gallery-section {
  padding: 80px 0 80px;
  background-color: #fff;
}

/* Gallery section */
.gallery-section {
  padding: 80px 0 80px;
}

.gallery-section .gallery-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}

.gallery-section .gallery-item-inner {
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .gallery-item-inner img {
  width: 100%;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.gallery-section .gallery-item-inner:hover img {
  transform: scale(1);
}

/* Gallery popup */
.gallery-popup {
  cursor: zoom-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1099;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.gallery-popup.open {
  display: flex;
}

.gallery-popup img.gp-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
  padding: 40px 0;
}

.gallery-popup .gp-container {
  position: relative;
  cursor: auto;
}

.gallery-popup .gp-counter {
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 40px;
  font-weight: bold;
}
.gallery-popup .gp-close {
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  cursor: zoom-out;
}

.gallery-popup .gp-controls {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-popup .gp-controls .prev,
.gallery-popup .gp-controls .next {
  display: inline-block;
  margin: 0 10px;
}

.gallery-popup .gp-controls .prev i,
.gallery-popup .gp-controls .next i {
  color: #fff;
  font-size: 24px;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.gallery-popup .gp-controls .prev:hover i,
.gallery-popup .gp-controls .next:hover i {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Message section */
.message-section {
  padding: 80px 0 80px;
}

.message-section .container {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.message-section .container .box {
  position: relative;
  padding: 80px 40px 40px;
  transition: 0.5s;
  text-align: center;
  background: #fff;
}

.message-section .container .box:hover {
  background: #7d98c9;
}

.message-section .container p {
  margin: 5px 0 0;
  padding: 0;
  transition: 0.5s;
  color: #121f38;
}

.message-section .container h4 {
  margin: 5px 0 0;
  padding: 5px;
  color: #121f38;
  transition: 0.5s;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.message-section .container h4 span {
  font-weight: 500;
  font-size: 14px;
  color: #818491;
  transition: 0.5s;
}

.message-section .container .box:hover p,
.message-section .container .box:hover h4,
.message-section .container .box:hover h4 span {
  color: #fff;
}

.message-section .container .box .imgBox {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #f3f2f1;
  overflow: hidden;
}

.message-section .container .box:before {
  content: "";
  position: absolute;
  top: 20px;
  right: 40px;
  height: 70px;
  width: 70px;
  background: url(img/icons/double.png);
  background-size: cover;
  opacity: 0.05;
  pointer-events: none;
  transition: 0.5s;
}

.message-section .container .box:hover:before {
  transform: translateY(-60px);
  opacity: 1;
}

.message-section .container .box:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 40px;
  height: 70px;
  width: 70px;
  background: url(img/icons/double.png);
  background-size: cover;
  opacity: 0.05;
  pointer-events: none;
  transition: 0.5s;
  transform: rotate(180deg) translateY(0px);
}

.message-section .container .box:hover:after {
  transform: rotate(180deg) translateY(-60px);
  opacity: 1;
}

/* Rsvp section */
.rsvp-section {
  padding: 80px 0 80px;
  background-color: #fff;
}

.rsvp-section .section-title p {
  color: #121f38;
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 26px;
}

.rsvp-section .rsvp-form {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.rsvp-section .form {
  max-width: 600px;
  background-color: #cbcbce;
  margin: auto;
  padding: 60px 25px;
  box-shadow: 0 0 10px #cbcbce;
}

.rsvp-section .form .input-group {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.rsvp-section .form .input-group.w50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.rsvp-section .form .input-control {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 30px;
  font-size: 16px;
  color: #121f38;
  padding: 6px 12px;
}

.rsvp-section .form textarea.input-control {
  height: 120px;
  padding-top: 12px;
  resize: none;
}

.rsvp-section .form .input-control:focus {
  outline: none;
}

/* Footer */
.footer {
  padding: 120px 0 120px;
}

.footer .footer-content {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.footer .footer-content .couple-name {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footer .footer-content .couple-name img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotate(100deg);
}

.footer .footer-content .couple-name h2 {
  font-size: 30px;
  font-family: "Great Vibes", cursive;
  color: #121f38;
  margin: 0;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
}

.footer .footer-content .couple-name h2 span {
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  display: block;
}

.footer .footer-content p {
  font-size: 40px;
  font-family: "Great Vibes", cursive;
  color: #121f38;
  margin: 0;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

/* copyright */
p.copyright-text {
  text-align: center;
  font-size: 14px;
  padding: 0 15px;
  color: #adadad;
  padding: 20px 0;
  border-top: 1px solid #cccc;
}
